<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam soluta expedita neque. Perferendis, ipsum fuga?</p>
    <hr class="my-4">
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae mollitia modi, eligendi vero nulla facere odit inventore 
        animi eveniet sapiente.</p>
    <a href="http://www.faztweb.com" class="btn btn-primary">Visita mi web</a>
</div>