<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Welcome to the notes app. Please SignUp first, then signup for create and see your notes</p>
    <hr class="my-4">
    <p> This application was created por Marco Romero</p>
</div>