body {
  background: linear-gradient(
    to left,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#navwood{
    background: #FFE4CD; 
}

#cerrar:hover {
  color: #ccc;
}

#user {
  font-size: 7rem;
  margin-left: 24%;
}

#postit {
  color: #000;
  background: #ffc;
}
